body{
	background-color: #000;
}
/*
.main-pane{
	width: 790px;
	height: 600px;
	background-color: #fff;
	border : 1px solid #000;
	overflow-y: hidden;
	overflow-x: hidden;
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding-left: 10px;
}*/