#lcms-wrapper-new{
	width: 1280px;
	height: 651px;
	background: #fff;
	background-position: bottom left;
	position: absolute;
	margin: auto;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
}

.mk-language{
width: 157px;
height: 48px;
float: left;
padding-top: 12px;
padding-left: 1px;
}
.mk-language span{
float: left;
font-size: 10px;
color: #fff;
margin-right: 5px;
position: relative;
top: 3px;
font-family: CGFont;
}

.mk-language a{
text-decoration: none;
border-radius: 50%;
display: block;
border: 3px solid #c6c6c6;
width: 16px;
height: 16px;
float: left;
}

.mk-language .ina-lang{
	background: url('../image/ico-ina-language.png')no-repeat;
	margin-right: 4px;
}

.mk-language .eng-lang{
background: url('../image/ico-eng-language.png')no-repeat;

}


.mk-language a:hover{
border-color: #fda51a
}


@font-face{
	font-family: CGFont;
	src :url('../Century Gothic.ttf');
}

@font-face{
	font-family: CGFontBold;
	src :url('../Century Gothic Bold.ttf');
}

#lcms-header-new{
	width: 1280px;
	height: 68px;
	background: #267fd9;
	background-position: left left;
	border-bottom: 1px solid #b6b6b6

}

#lcms-header-new .header-right-left{
	width: 943px;
	height: 68px;
	float: left;
}

#lcms-header-new .header-profile{
	width: 306px;
	height: 68px;
	float: left;
	background-color: #0d61b5;
}

#lcms-header-new .header-icon{
	background-color: #474747;
	width: 31px;
	height: 68px;
	float: left;
}

#lcms-header-new .header-left{
	float: left;
}

#lcms-header-new .header-left .lcms-client-logo{
	position: relative;
	left: 13px;
	top: 5px;
	float: left;
}

#lcms-header-new .header-left .client-name{
	position: relative;
	left: 24px;
	float: left;
}

#lcms-header-new .header-left .client-name h2{
	font-family: CGFontBold;
	font-weight: normal;
	font-size: 16px;
	color: #fff;
	position: relative;
	top: 5px;
}

#lcms-header-new .header-left .client-name h6{
	font-family: CGFont;
	font-weight: normal;
	font-size: 10px;
	color: #fff;
	position: relative;
	top: -20px;
}

#lcms-header-new .header-right{
	float: right;
	position: relative;
	right: 9px;
	top: 3px;
}


#lcms-header-new .header-right img.lcms-con{
	position: relative;
	left: 39px;
	top: 2px;
}
#lcms-header-new .header-right span{
	font-family: CGFontBold;
	font-weight: normal;
	font-size: 27px;
	color: #fff;
	/*position: relative;
	left: 9px;*/
	float: right;
}

#lcms-header-new .header-right .lcms-abbr{
	font-size: 10px;
	font-family: CGFont;
	color: #fff;
	position: relative;
	line-height: 12px;
	text-align: right;
	/*position: relative;*/
	right: 2px;
	float: right;
}

.header-profile .profile-account  {
	width: 58px;
	height: 58px;
	position: relative;
	top: 3px;
	float: left;
	text-align: center;
	border-radius: 50%;
}


.header-profile .circle-profile{
	text-align: center;
    position: relative;
    top: -3px;
    left: 9px;
    /*margin: 3px auto;*/
    width: 64px; 
    height: 64px;
    border-radius: 50%;
    background: transparent;
    border: 4px solid transparent;
    border-right-color: #21b2e1;
    float: left;
}

.header-profile .profile-name{
	line-height: 5px;
	position: relative;
	left: 18px;
	top: 10px;
}

.header-profile .profile-name h2{
	font-size: 16px;
	font-family: CGFont;
	color: #fff;
	font-weight: normal;
}

.header-profile .profile-name label{
	font-size: 12px;
	color: #42d1ff;
	font-family: CGFont;
}

.header-icon a{
	display: block;
	width: 31px;
	height: 34px;

}

.header-icon a.hd-ico-logout{
	background: url('../image/new-index/ico-logout.png')no-repeat;
	background-size: 16px 13px;
	background-position: center center;
}

.header-icon a.hd-ico-account{
	background: url('../image/new-index/ico-account.png')no-repeat;
	background-size: 12px 14px;
	background-position: center center;
}


.header-icon a:hover{
	background-color: #3f8b0b;
}

.header-icon a.hd-ico-logout:hover{
	background-color: #a32e2e
}
.lcms-side-menu-new{
	width: 54px;
	height: 572px;
	position: relative;
	left: 12px;
	/*background-color: #dadada;*/
	float: left;
}

.my-menu{
	position: relative;
	top: 73px;
	background-color: transparent;
}

.my-menu ul{
	padding: 0px;
	list-style: none;
	margin: 0px;
	box-shadow: inset 0px 0px 0px rgba(225,225,225,0.5), 0px 3px 3px rgba(0,0,0,0.5);
	margin-bottom: 10px;
	border-radius: 4px;
	background-color: transparent;
	/*border: 1px solid #737373;*/
}

.my-menu ul li{
	background-color: #474747;
	width: 54px;
	height: 54px;
}

.my-menu ul li a{
	display: block;
	height: 54px;
	width: 54px;
	background-color: transparent;
	border-radius: 4px;
}



.my-menu ul li:first-child{
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom: 1px solid #737373;

}

.my-menu ul li:last-child{
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

/*TRAINING SCHEDULE CLASS START -------------------------------------------> */
.my-menu ul li.my-menu-training-schedule{
	background: url('../image/new-index/ico-user.png')no-repeat #474747;
	background-position: center center;
}

.my-menu ul li.my-menu-training-schedule:hover{
	background-color: #5bac23;

}/*TRAINING SCHEDULE CLASS FINISH -----------------------------------------> */

/*STUDENT CLASS START -------------------------------------------> */
.my-menu ul li.my-menu-student{
	background: url('../image/new-index/ico-student.png')no-repeat #474747;
	background-position: center center;
}

.my-menu ul li.my-menu-student:hover{
	background-color: #5bac23;

}/*STUDENT CLASS FINISH -----------------------------------------> */



/*period CLASS START -------------------------------------------> */
.my-menu ul li.my-menu-period{
	background: url('../image/new-index/ico-period.png')no-repeat #474747;
	background-position: center center;
}

.my-menu ul li.my-menu-period:hover{
	background-color: #5bac23;

}/*period CLASS FINISH -----------------------------------------> */


/*period CLASS START -------------------------------------------> */
.my-menu ul li.my-menu-report{
	background: url('../image/new-index/ico-report.png')no-repeat #474747;
	background-position: center center;
}

.my-menu ul li.my-menu-report:hover{
	background-color: #5bac23;

}/*period CLASS FINISH -----------------------------------------> */


/*content CLASS START -------------------------------------------> */
.my-menu ul li.my-menu-content{
	background: url('../image/new-index/ico-content.png')no-repeat #474747;
	background-position: center center;
}

.my-menu ul li.my-menu-content:hover{
	background-color: #5bac23;

}/*content CLASS FINISH -----------------------------------------> */





/*TRAINING SCHEDULE CLASS START -------------------------------------------> */
.my-menu ul li.my-menu-group{
	background: url('../image/img/ico-group.png')no-repeat #474747;
	background-position: center center;
}

.my-menu ul li.my-menu-group:hover{
	background-color: #5bac23;

}/*TRAINING SCHEDULE CLASS FINISH -----------------------------------------> */


/*TRAINING SCHEDULE CLASS START -------------------------------------------> */
.my-menu ul li.my-menu-question{
	background: url('../image/img/ico-question.png')no-repeat #474747;
	background-position: center center;
}

.my-menu ul li.my-menu-question:hover{
	background-color: #5bac23;

}/*TRAINING SCHEDULE CLASS FINISH -----------------------------------------> */


/*TRAINING EXAMINATION CLASS START -------------------------------------------> */
.my-menu ul li.my-menu-examination{
	background: url('../image/img/ico-examination.png')no-repeat #474747;
	background-position: center center;
}

.my-menu ul li.my-menu-examination:hover{
	background-color: #5bac23;

}/*TRAINING EXAMINATION CLASS FINISH -----------------------------------------> */



/*COSTUMER CLASS START ----------------------------------------------------------------->*/
.my-menu ul li.my-menu-costumer{
	background: url('../image/new-index/ico-costumer.png')no-repeat #474747;
	background-position: center center;
}

.my-menu ul li.my-menu-costumer:hover{
	background-color: #5bac23;

}
/*COSTUMER FINISH */

/*TRACKING START ------------------*/
.my-menu ul li.my-menu-tracking{
	background: url('../image/new-index/ico-tracking.png')no-repeat #474747;
	background-position: center center;
}

.my-menu ul li.my-menu-tracking:hover{
	background-color: #5bac23;

}
/*FINISH TRACKING*/

/*CONTRACT START ------------------------------------------------------------*/

.my-menu ul li.my-menu-contract{
	background: url('../image/new-index/ico-contract.png')no-repeat #474747;
	background-position: center center;
}

.my-menu ul li.my-menu-contract:hover{
	background-color: #5bac23;

}

/*CONTRACT END*/

/*MENU TRAINING START*/
.my-menu ul li.my-menu-training{
	background: url('../image/new-index/ico-training.png')no-repeat #474747;
	background-position: center center;
}

.my-menu ul li.my-menu-training:hover{
	background-color: #5bac23;

}

.my-menu ul li:hover{
	background-color: #5bac23;
}

/*USER START -------------------------------------------*/
.my-menu ul li.my-menu-user{
	background: url('../image/new-index/ico-user.png')no-repeat #474747;
	background-position: center center;
	cursor: pointer;
}

.my-menu ul li.my-menu-user:hover{
	background-color: #5bac23;
}

.my-menu ul li.my-menu-user ul{
	padding: 0px;
	list-style: none;
	margin: 0px;
	box-shadow: inset 0px 0px 0px rgba(225,225,225,0.5), 0px 3px 3px rgba(0,0,0,0.5);
	margin-bottom: 10px;
	border-radius: 4px;
	background-color: transparent;
	display: none;
	position: relative;
	left: 53px;
	/*top: -54px;*/
	z-index: 1;
}

.my-menu ul li.my-menu-user:hover ul{
	display: block;
	
}

.my-menu ul li.my-menu-user:hover ul li{
	background-color: #474747;
	width: 54px;
	height: 54px;
}

.my-menu ul li.my-menu-user:hover ul li.my-menu-list-user{
	background: url('../image/new-index/ico-list-user.png')no-repeat #474747;
	background-position: center center;
}

.my-menu ul li.my-menu-user:hover ul li.my-menu-authority{
	background: url('../image/new-index/ico-authority.png')no-repeat #474747;
	background-position: center center;
}

.my-menu ul li.my-menu-user:hover ul li:hover{
	background-color: #5bac23;
}

.my-menu ul li.my-menu-user:hover ul li:first-child{
	border-top-left-radius: 0px;
	border-top-right-radius: 4px;
	border-bottom: 1px solid #737373;

}

.my-menu ul li:last-child{
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}


 /*USER END ----------------------------------------------------*/


 /*SETTING START-------------------------------------------------------------*/
 .my-menu ul li.my-menu-setting{
	background: url('../image/new-index/ico-setting.png')no-repeat #474747;
	background-position: center center;
	cursor: pointer;
}

.my-menu ul li.my-menu-setting:hover{
	background-color: #5bac23;
}

.my-menu ul li.my-menu-setting ul{
	padding: 0px;
	list-style: none;
	margin: 0px;
	box-shadow: inset 0px 0px 0px rgba(225,225,225,0.5), 0px 3px 3px rgba(0,0,0,0.5);
	margin-bottom: 10px;
	border-radius: 4px;
	background-color: transparent;
	display: none;
	position: relative;
	left: 53px;
	/*top: -54px;*/
	z-index: 1;
}

.my-menu ul li.my-menu-setting ul li{
	
	border-bottom: 1px solid #737373;
}

.my-menu ul li.my-menu-setting:hover ul{
	display: block;
}

.my-menu ul li.my-menu-setting:hover ul li{
	background-color: #474747;
	width: 54px;
	height: 54px;
}

.my-menu ul li.my-menu-setting:hover ul li.my-menu-backup-db{
	background: url('../image/new-index/ico-backup-db.png')no-repeat #474747;
	background-position: center center;
}

.my-menu ul li.my-menu-setting:hover ul li.my-menu-restore-db{
	background: url('../image/new-index/ico-restore-db.png')no-repeat #474747;
	background-position: center center;
}

.my-menu ul li.my-menu-setting:hover ul li.my-menu-source-code{
	background: url('../image/new-index/ico-source-code.png')no-repeat #474747;
	background-position: center center;
}

.my-menu ul li.my-menu-setting:hover ul li.my-menu-reset-pass{
	background: url('../image/new-index/ico-reset-pass.png')no-repeat #474747;
	background-position: center center;
}


.my-menu ul li.my-menu-setting:hover ul li:hover{
	background-color: #5bac23;
}

.my-menu ul li.my-menu-setting:hover ul li:first-child{
	border-top-left-radius: 0px;
	border-top-right-radius: 4px;
	

}

.my-menu ul li:last-child{
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}
 /*SETTING END ------------------------------*/
.lcms-content-area-new{
	width: 1179px;
	height: 545px;
	background-color: #ededed;
	box-shadow: inset 0px 0px 0px rgba(225,225,225,0.5), 0px 2px 2px rgba(0,0,0,0.5);
	float: left;
	position: relative;
	left :26px;
	top: 17px;
	border: 1px solid #b6b6b6;
}

.lcms-this-title{
	width: 285px;
	height: 47px;
	background-color: #5bac23;
	border-radius: 5px;
	box-shadow: inset 0px 0px 0px rgba(225,225,225,0.3), 0px 2px 2px rgba(0,0,0,0.3);
	position: relative;
	top: -7px;
	left: -7px;

}

.lcms-this-title .lcms-titlena{
	width: 240px;
	height: 47px;
	/*background-color: #fff;*/
	float: left;
	line-height: 5px;
	position: relative;
	left: 10px;
	top: 10px;
	float: left;
}

.lcms-this-title .lcms-titlena label{
	font-family: CGFont;
	font-size: 12px;
	color: #fff;
}

.lcms-this-title .lcms-titlena h2{
	font-family: CGFont;
	font-size: 14px;
	color: #fff;
	font-weight: normal;
	text-transform: uppercase;
}

.lcms-this-title .lcms-title-button{
	float: left;
	width: 45px;
	height: 47px;
	background-color: #3f8b0b;
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
	text-align: center;

}

.lcms-this-title .lcms-title-button a{
	float: left;
	width: 45px;
	height: 47px;
	background-color: #3f8b0b;
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
	position: relative;

}

.lcms-this-title .lcms-title-button a:hover{
	background-color: #35730b
}
.lcms-this-title .lcms-title-button a img{
	text-align: center;
	width: 15px;
	height: 15px;
	position: relative;
	top: 5px;
}

.lcms-this-title .lcms-title-button a label{
	font-family: CGFont;
	color: #fff;
	font-size: 12px;
}

/*a[bubbletooltip]:link, a[bubbletooltip]:visited{
    text-decoration: none;
    position: relative;
    color : red;
    z-index: 5;
}
*/
a[bubbletooltip]:before{
    content: "";
    position: absolute;
    border-right: 11px solid #21b2e1;
    border-top: 11px solid transparent;
    border-bottom: 13px solid transparent;
    visibility: hidden;
    /*bottom: -24px;*/
    top: 18px;
    right: -8px;
    z-index: 5;

}

a[bubbletooltip]:after{
    position: absolute;
    content: attr(bubbletooltip);
    /*font-weight:bold;*/
    right: -113px;
    top: 17px;
    /*bottom: -16px;*/
    width:88px;
    max-width: 180px;
    background: #21b2e1;
    color: #FFFFFF;
    padding: 5px 10px;
    -moz-border-radius: 6px;
    -webkit-border-radius:6px;
    -khtml-border-radius:6px;
    border-radius: 6px;
    visibility: hidden;
    z-index: 5;
    font-size: 11px;
    font-family: CGFont;
    text-align: center;
	/*box-shadow: inset 0px 0px 0px rgba(225,225,225,0.5), 0px 3px 3px rgba(0,0,0,0.5);*/

}

a[bubbletooltip]:hover:before, a[bubbletooltip]:hover:after{
    visibility: visible;
    -moz-transition: visibility 0s linear .2s;
    z-index: 5;
}

a[bubbletooltip]:link, a[bubbletooltip]:visited{
    text-decoration: none;
    position: relative;
    /*color : red;*/
    z-index: 5;
}

a[bubbletooltip]:before{
    content: "";
    position: absolute;
    border-right: 11px solid #21b2e1;
    border-top: 11px solid transparent;
    border-bottom: 13px solid transparent;
    visibility: hidden;
    /*bottom: -24px;*/
    top: 18px;
    right: -8px;
    z-index: 5;

}

a[bubbletooltip]:after{
    position: absolute;
    content: attr(bubbletooltip);
    /*font-weight:bold;*/
    right: -113px;
    top: 17px;
    /*bottom: -16px;*/
    width:88px;
    max-width: 180px;
    background: #21b2e1;
    color: #FFFFFF;
    padding: 5px 10px;
    -moz-border-radius: 6px;
    -webkit-border-radius:6px;
    -khtml-border-radius:6px;
    border-radius: 6px;
    visibility: hidden;
    z-index: 5;
    font-size: 11px;
    font-family: CGFont;
    text-align: center;
	/*box-shadow: inset 0px 0px 0px rgba(225,225,225,0.5), 0px 3px 3px rgba(0,0,0,0.5);*/

}

a[bubbletooltip]:hover:before, a[bubbletooltip]:hover:after{
    visibility: visible;
    -moz-transition: visibility 0s linear .2s;
    z-index: 5;
}

/*-------------------tooltips long*/
a[bubbletooltips]:link, a[bubbletooltips]:visited{
    text-decoration: none;
    position: relative;
    /*color : red;*/
    z-index: 5;
}

a[bubbletooltips]:before{
    content: "";
    position: absolute;
    border-right: 11px solid #21b2e1;
    border-top: 11px solid transparent;
    border-bottom: 13px solid transparent;
    visibility: hidden;
    /*bottom: -24px;*/
    top: 18px;
    right: -8px;
    z-index: 5;

}

a[bubbletooltips]:after{
    position: absolute;
    content: attr(bubbletooltips);
    /*font-weight:bold;*/
    right: -153px;
    top: 17px;
    /*bottom: -16px;*/
    width:128px;
    max-width: 180px;
    background: #21b2e1;
    color: #FFFFFF;
    padding: 5px 10px;
    -moz-border-radius: 6px;
    -webkit-border-radius:6px;
    -khtml-border-radius:6px;
    border-radius: 6px;
    visibility: hidden;
    z-index: 5;
    font-size: 11px;
    font-family: CGFont;
    text-align: center;
	/*box-shadow: inset 0px 0px 0px rgba(225,225,225,0.5), 0px 3px 3px rgba(0,0,0,0.5);*/

}

a[bubbletooltips]:hover:before, a[bubbletooltips]:hover:after{
    visibility: visible;
    -moz-transition: visibility 0s linear .2s;
    z-index: 5;
}

.new-footer{
	width: 1280px;
	/*margin: auto;*/
	/*height: 651px;*/
	float: left;
	font-family: CGFont;
	font-size: 10px;
	position: relative;
	top: -5px;	
	right: 18px;
	text-align: right;
	color: #474747;
	/*background-color: #dadada;*/
}

.data-empty-lcms{
	background-color: #a0a3a5;
	text-transform: uppercase;
	font-family: CGFontBold;
	font-size: 30px;
	/*width: 200px;*/
	height: 40px;
	padding: 10px 10px;
	color: #f0f0f0;
	border: 1px solid #a5a8aa;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	margin: auto;
	text-align: center;
}



